
:root {
  --color-primary: #5b8f6c;
  --color-primary-highlight: #d2f1dd;
  --color-secondary: #f5f5f5;
  --color-accent: #ffa500;
  --color-text: #333;
  --color-background: #fff;
  --color-border: #ddd;
  --font-primary: "Archivo Black", sans-serif;
  --font-secondary: "Jost", sans-serif;
}

body {
  font-family: var(--font-secondary);
  color: var(--color-text);
  background-color: var(--color-secondary);
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--color-background);
  color: #fff;
  padding: 1rem 1rem 0;
  text-align: center;
}

.header__brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  height: 50px;
  margin-right: 1rem;
}

.header__title {
  height: 160px;
  margin-bottom: 0;
  margin-right: 35% ;
}
.header__title img {
  height: 100%;
  margin-bottom: 0;
  margin-right: 46% ;
}
.navbar {
  background: var(--color-secondary);
  height: 35px;
  border-radius: 5px 5px 0 0 ;
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  font-family: var(--font-secondary);
  width: 52.5%; 
  margin: 0 auto; 
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.navbar__item {
  display: inline-block;
  position: relative;
}

.navbar__link {
  display: block;
  line-height: 33px;
  padding: 0 14px;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.1rem;
}

.navbar__link:hover {
  color: var(--color-primary);
  background: var(--color-primary-highlight);
}

@media screen and (max-width: 800px){
  .navbar {
    position: relative;
  }
  
  .navbar__list {
    background: var(--color-secondary);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
    text-align: left;
  }

  .navbar__item {
    display: block;
    float: none;
    width: auto;
  }

  .navbar__link {
    padding-left: 30px;
  }

  .navbar input, .navbar label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  .navbar input {
    z-index: 4;
  }

  .navbar input:checked + label {
    color: var(--color-text);
  }

  .navbar input:checked + label:before {
    content: "\00d7";
  }

  .navbar input:checked ~ .navbar__list {
    display: block;
  }
}

.menu__aside {
  position: fixed;
  top: 0;
  left: -260px; /* Inicia fuera de la pantalla */
  width: 215px;
  height: 100vh;
  padding: 10px;
  padding-right: 2%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  transition: left 0.5s ease;
  color: var(--color-secondary);
  z-index: 998;
}

.menu__aside.expand {
  left: 0;
}

.menu__icon {
  position: absolute;
  right: -50px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  color: var(--color-secondary);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.menu__icon .bx-x {
  display: none;
}

.menu__aside.expand .menu__icon .bx-x {
  display: block;
}

.menu__aside.expand .menu__icon .bx-menu {
  display: none;
}

a {
  text-decoration: none;
  
}

.side__menu li {
  list-style: none;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px 6px 6px 16px;
  margin: 25px auto;
  transition: 0.8s;
  background-color: var(--color-primary);
}

li a {
  font-size: 1rem;
  position: relative;
  height: 40px;
  color: var(--color-secondary);
}

li a i {
  width: 100%;
  text-align: center;
}

li a span {
  width: 0;
  height: 25px;
  transition: width 0.5s;
  color: var(--color-secondary);
}

.bxs-chevron-right {
  position: absolute;
  right: 0;
  width: 0;
  transition: width 0.5s, transform 0.5s;
  overflow: hidden;
}

.sub-menu {
  width: 80%;
  margin: 0 0 0 25px;
  overflow: hidden;
  max-height: 0;
  transition:  all 0.8s ease;
}

.sub-menu li {
  height: 25px;
  padding: 5px 10px;
  margin: 4px auto;
  font-size: 1rem;
  font-weight: 280;
}

.sub-menu li a {
  position: initial;
  height: 100%;
  display: initial;
  color: var(--color-secondary); /* Color blanco para asegurar visibilidad */
}

ul.log {
  margin: 50px 0 0 0;
}

li.active {
  color: #000000; /* Cambiamos a negro para contraste con fondo activo */
  background: rgba(210, 209, 209, 0.5);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  color: var(--color-primary);
}

li.active .sub-menu {
  max-height: 5000px;
}

li.active a > .bxs-chevron-right {
  transform: rotate(90deg);
  width: 20px;
}

.main-content {
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.main-content {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.breaking-section, 
.suba-section, 
.bogota-section, 
.region-central-section, 
.sports-section {
  margin-bottom: 2rem;
}

.breaking-news,
.suba-news,
.bogota-news,
.region-central-news,
.sports-news {
  display: grid;
  gap: 1rem;
}

/* Grid para la sección de "Último Momento" */
.breaking-news {
  grid-template-columns: repeat(2, 1fr);
}

.breaking-news__item--1 {
  grid-column: span 2;
}

.breaking-news__item--small {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el contenido se distribuya correctamente */
}

/* Asegura que las imágenes cuadradas mantengan un tamaño uniforme */
.breaking-news__item--small,
.suba-news__item,
.bogota-news__item,
.region-central__item,
.sports-news__item {
  position: relative;
  overflow: hidden;
}

.breaking-news__item--small,
.suba-news__item,
.bogota-news__item,
.region-central__item,
.sports-news__item {
  aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
}

.breaking-news__item--1,
.suba-news__item--1,
.bogota-news__item--1,
.region-central__item--1,
.sports-news__item--1 {
  aspect-ratio: 16 / 9; /* Mantiene la proporción rectangular */
}

/* Ajusta el tamaño y el ajuste de las imágenes */
.breaking-news img,
.suba-news img,
.bogota-news img,
.region-central-news img,
.sports-news img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformar */
}

/* Estilos para los elementos de contenido */
.news__item--1__content,
.news__item--small {
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para resaltar el texto */
  color: #fff; /* Color del texto */
}

.news__author,
.news__date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.news__author h4,
.news__date h4 {
  margin: 0;
  font-size: 1rem; /* Ajusta el tamaño de fuente según sea necesario */
}

/* Grid para la sección de "Suba" */
.suba-news {
  grid-template-columns: repeat(4, 1fr);
}

.suba-news__item--1 {
  grid-column: span 4;
}

.suba-news__item {
  display: grid;
  grid-template-columns: 1fr;
}

/* Grid para la sección de "Bogotá" */
.bogota-news {
  grid-template-columns: repeat(2, 1fr);
}

.bogota-news__item--1 {
  grid-column: span 2;
}

/* Grid para la sección de "Región Central" */
.region-central-news {
  grid-template-columns: repeat(4, 1fr);
}

.region-central__item--1 {
  grid-column: span 4;
}

/* Grid para la sección de "Deportes" */
.sports-news {
  grid-template-columns: repeat(4, 1fr);
}

.sports-news__item--1 {
  grid-column: span 4;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .breaking-news,
  .suba-news,
  .bogota-news,
  .region-central-news,
  .sports-news {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .breaking-news {
    grid-template-columns: repeat(2, 1fr);
  }

  .suba-news, 
  .bogota-news, 
  .region-central-news, 
  .sports-news {
    grid-template-columns: repeat(2, 1fr);
  }

  .breaking-news__item--1,
  .suba-news__item--1,
  .bogota-news__item--1,
  .region-central__item--1,
  .sports-news__item--1 {
    grid-column: span 2;
  }
}


/*Seccion noticias individuales*/

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.news-grid-item {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.news-grid-item img {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Mantiene un aspecto cuadrado */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio cuadrado */
  transition: transform 0.3s ease;
}

.news-grid-item:hover img {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.news-grid-item p {
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: 10px;
}



.audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(140, 140, 140, 0.276);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(86, 137, 98, 0.18);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  width: 100%;
  height: 200px;
  transition: height 0.5s ease;
  z-index: 1; /* Asegurarse de que el z-index sea menor que el footer */
}

.audio-player.collapsed {
  height: 40px;
}

.audio-player__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.audio-player__image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player__image img {
  min-height: 60px;
  min-width: 120px;
  max-width: 100%;
  max-height: 200px;
  transition: max-height 0.5s ease, max-width 0.5s ease;
}

.audio-player__controls {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column: 2/ 3;
  grid-row: 1 / 2;
  color: var(--color-secondary);
  padding-right: 2%;
  padding-left: 3%;
}

.audio-player__schedule {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.audio-player.collapsed .audio-player__schedule {
  display: none;
}

.audio-player.collapsed .audio-player__image img {
  max-height: 30px;
  max-width: 30px;
}

.audio-player.collapsed .audio-player__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-player.collapsed .audio-player__controls {
  width: auto;
  display: flex;
  align-items: center;
}

.audio-player.collapsed #current-program-info {
  margin-left: 10px;
  display: block;
}

.audio {
  margin: 0 auto;
  width: 200px;
  height: 70px;
}

audio::-webkit-media-controls-play-button {
  height: 70px;
  width: 70px;
}

audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-timeline {
  display: none;
}

/* General styles for the audio player */
.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Container styling */
.audio-player__container {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  grid-template-rows: 1fr;
  gap: 10px;
  align-items: center;
}

/* Image styling */
.audio-player__image img {
  width: 100%;
  max-width: 300px; /* Set a max-width for responsiveness */
  border-radius: 8px;
}

/* Controls styling */
.audio-player__controls {
  display: grid;
  grid-template-columns: repeat(4, auto); /* Controls in a row */
  gap: 10px;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Buttons styling */
.controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.controls button:hover {
  color: #000;
}

/* Volume control styling */
#volumeControl {
  width: 100px;
}

/* Schedule and current program info styling */
#audio-player__controls {
  text-align: center;
}

#audio-player__controls, #schedule {
  margin-top: 10px;
}

.audio-chevron {
  height: 45px;
  width: 45px;
  font-size: 24px;
  margin-bottom: 0.5%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Hide native audio controls */
audio {
  display: none;
}
#playPauseBtn{
  color: var(--color-secondary);
}

#rewindBtn{
  color: var(--color-secondary);
}

#forwardBtn{
  color: var(--color-secondary);
}
.footer {
  padding-bottom: 100px; /* Ajusta según la altura del reproductor de audio */
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-family: var(--font-secondary);
  position: relative;
  z-index: 2; /* Asegurarse de que el z-index sea mayor que el audio player */
}


/*SECCION SECTION*/

.news-section {
  max-width: 1200px;
  margin: 0 auto;
}

.news-section__title {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.news-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.news-item--large {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}

.news-item__image {
  width: 100%;
  height: auto;
  display: block;
}

.news-item__title {
  font-family: var(--font-secondary);
  font-size: 1rem;
  margin: 10px;
  color: #333;
}

.news-item--large .news-item__title {
  font-size: 1.25rem;
}

