
:root {
  --color-primary: #5b8f6c;
  --color-primary-highlight: #d2f1dd;
  --color-secondary: #f5f5f5;
  --color-accent: #ffa500;
  --color-text: #333;
  --color-background: #fff;
  --color-border: #ddd;
  --font-primary: "Archivo Black", sans-serif;
  --font-secondary: "Jost", sans-serif;
}

body {
  font-family: var(--font-secondary);
  color: var(--color-text);
  background-color: var(--color-secondary);
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--color-background);
  color: #fff;
  padding: 1rem 1rem 0;
  text-align: center;
}

.header__brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  height: 50px;
  margin-right: 1rem;
}

.header__title {
  height: 160px;
  margin-bottom: 0;
  margin-right: 35% ;
}
.header__title img {
  height: 100%;
  background-color: red;
  margin-bottom: 0;
  margin-right: 46% ;
}


.menu__aside {
  position: fixed;
  top: 0;
  left: -260px; /* Inicia fuera de la pantalla */
  width: 215px;
  height: 100vh;
  padding: 10px;
  padding-right: 2%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  transition: left 0.5s ease;
  color: var(--color-secondary);
  z-index: 998;
}

.menu__aside.expand {
  left: 0;
}

.menu__icon {
  position: absolute;
  right: -50px;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  color: var(--color-secondary);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.menu__icon .bx-x {
  display: none;
}

.menu__aside.expand .menu__icon .bx-x {
  display: block;
}

.menu__aside.expand .menu__icon .bx-menu {
  display: none;
}

a {
  text-decoration: none;
  
}

.side__menu li {
  list-style: none;
  overflow: hidden;
  border-radius: 10px;
  padding: 5px 6px 6px 16px;
  margin: 25px auto;
  transition: 0.8s;
  background-color: var(--color-primary);
}

li a {
  font-size: 1rem;
  position: relative;
  height: 40px;
  color: var(--color-secondary);
}

li a i {
  width: 100%;
  text-align: center;
}

li a span {
  width: 0;
  height: 25px;
  transition: width 0.5s;
  color: var(--color-secondary);
}

.bxs-chevron-right {
  position: absolute;
  right: 0;
  width: 0;
  transition: width 0.5s, transform 0.5s;
  overflow: hidden;
}

.sub-menu {
  width: 80%;
  margin: 0 0 0 25px;
  overflow: hidden;
  max-height: 0;
  transition:  all 0.8s ease;
}

.sub-menu li {
  height: 25px;
  padding: 5px 10px;
  margin: 4px auto;
  font-size: 1rem;
  font-weight: 280;
}

.sub-menu li a {
  position: initial;
  height: 100%;
  display: initial;
  color: var(--color-secondary); /* Color blanco para asegurar visibilidad */
}

ul.log {
  margin: 50px 0 0 0;
}

li.active {
  color: #000000; /* Cambiamos a negro para contraste con fondo activo */
  background: rgba(210, 209, 209, 0.5);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  color: var(--color-primary);
}

li.active .sub-menu {
  max-height: 5000px;
}

li.active a > .bxs-chevron-right {
  transform: rotate(90deg);
  width: 20px;
}

.main-content {
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
  background-color: var(--color-background);
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.breaking-news {
  margin-bottom: 2rem;
}

.breaking-news__title {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.breaking-news__slider {
  display: flex;
  overflow-x: auto;
}

.slider__item {
  min-width: 300px;
  margin-right: 1rem;
  background-color: var(--color-background);
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.news-grid__item {
  background-color: var(--color-background);
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.news-grid__image {
  width: 100%;
  height: 0;
  padding-bottom: 100%; /* Esto asegura un contenedor cuadrado */
  position: relative;
  overflow: hidden;
}

.news-grid__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.news-grid__title {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

.news-grid__summary,
.news-grid__date {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.suba-section {
  margin-bottom: 2rem;
}

.suba-section__title {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.suba-section__content {
  display: flex;
  flex-direction: column;
}

.suba-section__main {
  background-color: var(--color-background);
  padding: 1rem;
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
}

.suba-section__image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.suba-section__headline {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

.suba-section__author,
.suba-section__date,
.suba-section__summary {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.suba-section__side {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.suba-section__item {
  background-color: var(--color-background);
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.suba-section__side-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.suba-section__side-title,
.suba-section__side-date {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.bogota-section {
  margin-bottom: 2rem;
}

.bogota-section__title {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.bogota-section__content {
  display: flex;
  flex-direction: column;
}

.bogota-section__main {
  background-color: var(--color-background);
  padding: 1rem;
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
}

.bogota-section__image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.bogota-section__headline {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

.bogota-section__author,
.bogota-section__date,
.bogota-section__summary {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.bogota-section__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.bogota-section__item {
  background-color: var(--color-background);
  margin: 0 auto;
  margin-bottom:  1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  height: 215px; 
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el contenido verticalmente */
}

.bogota-section__item-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.bogota-section__item-title,
.bogota-section__item-author,
.bogota-section__item-date {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

/* Añadir espacio entre las filas */
.bogota-section__content {
  height: 40%;
  background-color: var(--color-background);
  margin-top: 1rem; /* Ajusta según necesites para el espacio entre las filas */
}

.bogota-section__grid:nth-child(2) {
  margin: 0 auto;
  margin-top: 1rem; /* Espacio entre las dos filas */
}

@media (max-width: 1885px) {
  .bogota-section__grid {
    grid-template-columns: repeat(1, 1fr); /* Dos columnas por fila */
    gap: 1rem; /* Espacio entre las columnas */
  }
  .bogota-section__item {
    background-color: var(--color-background);
    margin: 0 auto;
    margin-bottom:  1rem;
    padding: 1rem;
    border: 1px solid var(--color-border);
    height: 215px; 
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinea el contenido verticalmente */
  }
}

.region-central-section {
  margin-bottom: 2rem;
}

.region-central-section__title {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.region-central-section__content {
  height: 45%;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

.region-central-section__main {
  background-color: var(--color-secondary);
  padding: 1rem;
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
}

.region-central-section__image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.region-central-section__headline {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

.region-central-section__author,
.region-central-section__date,
.region-central-section__summary {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.region-central-section__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.region-central-section__item {
  background-color: var(--color-background);
  margin: 0 auto;
  margin-bottom:  1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  height: 215px; 
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el contenido verticalmente */
}

.region-central-section__item-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.region-central-section__item-title,
.region-central-section__item-author,
.region-central-section__item-date {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

/* Añadir espacio entre las filas */
.region-central-section__content {
  height: 40%;
  background-color: var(--color-background);
  margin-top: 1rem; /* Ajusta según necesites para el espacio entre las filas */
}

.region-central-section__grid:nth-child(2) {
  margin: 0 auto;
  margin-top: 1rem; /* Espacio entre las dos filas */
}

@media (max-width: 1885px) {
  .region-central-section__grid {
    grid-template-columns: repeat(1, 1fr); /* Dos columnas por fila */
    gap: 1rem; /* Espacio entre las columnas */
  }
  .region-central-section__item {
    background-color: var(--color-background);
    margin: 0 auto;
    margin-bottom:  1rem;
    padding: 1rem;
    border: 1px solid var(--color-border);
    height: 215px; 
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinea el contenido verticalmente */
  }
}

.tendencias-section {
  margin-bottom: 2rem;
}

.tendencias-section__title {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.tendencias-section__content {
  display: flex;
  flex-direction: column;
}

.tendencias-section__main {
  background-color: var(--color-background);
  padding: 1rem;
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
}

.tendencias-section__image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.tendencias-section__headline {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

.tendencias-section__author,
.tendencias-section__date,
.tendencias-section__summary {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.tendencias-section__side {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.tendencias-section__item {
  background-color: var(--color-background);
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.tendencias-section__side-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.tendencias-section__side-title,
.tendencias-section__side-date {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}

.sports-section {
  margin-bottom: 2rem;
}

.sports-section__title {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  margin-bottom: 1rem;
}

.sports-section__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.sports-section__item {
  background-color: var(--color-background);
  padding: 1rem;
  border: 1px solid var(--color-border);
}

.sports-section__image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.sports-section__headline {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  margin-bottom: 0.5rem;
}

.sports-section__summary,
.sports-section__date {
  font-size: 0.9rem;
  color: var(--color-text);
  margin-bottom: 0.5rem;
}






.audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(140, 140, 140, 0.276);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(86, 137, 98, 0.18);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  width: 100%;
  height: 200px;
  transition: height 0.5s ease;
  z-index: 1; /* Asegurarse de que el z-index sea menor que el footer */
}

.audio-player.collapsed {
  height: 40px;
}

.audio-player__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}

.audio-player__image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player__image img {
  min-height: 60px;
  min-width: 120px;
  max-width: 100%;
  max-height: 200px;
  transition: max-height 0.5s ease, max-width 0.5s ease;
}

.audio-player__controls {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column: 2/ 3;
  grid-row: 1 / 2;
  color: var(--color-secondary);
  padding-right: 2%;
  padding-left: 3%;
}

.audio-player__schedule {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.audio-player.collapsed .audio-player__schedule {
  display: none;
}

.audio-player.collapsed .audio-player__image img {
  max-height: 30px;
  max-width: 30px;
}

.audio-player.collapsed .audio-player__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-player.collapsed .audio-player__controls {
  width: auto;
  display: flex;
  align-items: center;
}

.audio-player.collapsed #current-program-info {
  margin-left: 10px;
  display: block;
}

.audio {
  margin: 0 auto;
  width: 200px;
  height: 70px;
}

audio::-webkit-media-controls-play-button {
  height: 70px;
  width: 70px;
  background-color: red;
}

audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-timeline {
  display: none;
}

/* General styles for the audio player */
.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Container styling */
.audio-player__container {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  grid-template-rows: 1fr;
  gap: 10px;
  align-items: center;
}

/* Image styling */
.audio-player__image img {
  width: 100%;
  max-width: 300px; /* Set a max-width for responsiveness */
  border-radius: 8px;
}

/* Controls styling */
.audio-player__controls {
  display: grid;
  grid-template-columns: repeat(4, auto); /* Controls in a row */
  gap: 10px;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Buttons styling */
.controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.controls button:hover {
  color: #000;
}

/* Volume control styling */
#volumeControl {
  width: 100px;
}

/* Schedule and current program info styling */
#audio-player__controls {
  text-align: center;
}

#audio-player__controls, #schedule {
  margin-top: 10px;
}

.audio-chevron {
  height: 45px;
  width: 45px;
  font-size: 24px;
  margin-bottom: 0.5%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Hide native audio controls */
audio {
  display: none;
}
#playPauseBtn{
  color: var(--color-secondary);
}

#rewindBtn{
  color: var(--color-secondary);
}

#forwardBtn{
  color: var(--color-secondary);
}
.footer {
  padding-bottom: 100px; /* Ajusta según la altura del reproductor de audio */
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-family: var(--font-secondary);
  position: relative;
  z-index: 2; /* Asegurarse de que el z-index sea mayor que el audio player */
}
